footer {
    position:absolute;
    bottom:0; 
    width:100%;
    margin-top: 0.625rem;

    .rodape {
        height: 8rem;
        background-color: #c4c3bd;
        background: #b68c3daf;
        border: 10px solid #e7daad;

        .logo {
            align-items: center;
            position: relative;
            width: auto;
            height:8rem;
        }
    }
}

