<div class="grid-container header_e_main">
        <header class="grid-item  item-1">
            <div class="cabecalho">
                <img class="logo" src="/assets/logo_nova.png" alt="Logo: Lupa e embaixo a frase 'de quem é esse cpf'">
                
            </div>
        </header>
        
        
        <main class="grid-item item-2">
            <form class="formulario" id="formulario" #f="ngForm">
                <div>
                    <h3>Digite um numero de CEP</h3>
                    <label for="cep"></label>
                    <input 
                    id="cep"
                    name="cep"
                    ngModel
                    #cep="ngModel"
                    (blur)="consultarCep($event, f)"
                    minlength="8"
                    maxlength="9"
                    pattern="^(\d{5})(-?\d{3})$"
                    required
                    validadorCep>
                    <div *ngIf=" (cep?.invalid && cep?.touched) || cep?.dirty ">
                        <app-mensagem *ngIf="cep?.errors?.['required']" mensagem="O CEP precisa ser preenchido."></app-mensagem>
                        <app-mensagem *ngIf="cep?.errors?.['pattern']" mensagem="O campo de cep deve seguir este exemplo: 00000-000."></app-mensagem>
                        <app-mensagem *ngIf="cep?.errors?.['validadorCep']" mensagem="O cep digitado não é válido."></app-mensagem>
                    </div>
                </div>
            </form>
        </main>
</div>